@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
      <form action="~/User/Login" method="post">
          <label>用户名:</label><input type="text" name="Name" /><br />
          <label>密  码:</label><input type="Password" name="Password" /><br />
                                <input type="submit" value="登录" />
      </form>
    </div>
</body>
</html>
